:root {
    --primary-color: #000000;
    --secondary-color: #333333;
    --accent-color: #FFD700;
    --background-color: #f0f0f0;
    --text-color: #333;
    --light-text-color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--background-color);
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: var(--primary-color);
    color: var(--light-text-color);
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    text-decoration: none;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links a {
    padding: 5px 8px;
    color: var(--light-text-color);
    text-decoration: none;
    transition: color 0.3s ease;
    font-weight: 600;
    border-radius: 15px;
}

.nav-links a:hover {
    border: 1px solid white;
}

.active-nav {
    border: 1px solid white;
}

.menu-toggle {
    display: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--light-text-color);
}

main {
    padding-top: 80px;
    min-height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-card {
    background-color: var(--light-text-color);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    width: 100%;
    max-width: 500px;
}

.profile-card h1 {
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 1rem;
}

.profile-details, .profile-form {
    display: flex;
    flex-direction: column;
}

.profile-form {
    display: none;
}

.profile-item {
    margin-bottom: 1rem;
}

.profile-item label {
    font-weight: 600;
    color: var(--secondary-color);
    display: block;
    margin-bottom: 0.25rem;
}

.profile-item p {
    background-color: #f9f9f9;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
}

.profile-item input, .profile-item select {
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    font-family: inherit;
    font-size: inherit;
}

.non-editable {
    background-color: #e0e0e0;
    color: #000000;
}

.edit-button, .save-button, .cancel-button {
    display: inline-block;
    width: 48%;
    padding: 0.8rem;
    background-color: var(--accent-color);
    color: var(--primary-color);
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 1rem;
}

.save-button, .cancel-button {
    display: none;
}

.cancel-button {
    background-color: #ccc;
}

.edit-button:hover, .save-button:hover {
    background-color: #e6c200;
}

.cancel-button:hover {
    background-color: #bbb;
}

.warning{
    font-size: 14px;
    color: red;
}

footer {
    background-color: var(--primary-color);
    color: var(--light-text-color);
    text-align: center;
    padding: 2rem 0;
    margin-top: 2rem;
}

.profile-image{
    max-height: 300px;
    max-width: 300px;
    object-fit: contain;
}

.image-div{
    width: 100%;
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {
    .body {
        padding: 0;
        margin: 0;
        overflow-x: hidden;
    }

    .container {
        transition: transform 0.3s ease-in-out;
        padding: 0;
    }

    .menu-toggle {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: var(--primary-color);
        padding: 1rem 0;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .nav-links a{
        margin: 0 0 0 1.5rem;
    }
    
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}